@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Old+Standard+TT:ital,wght@0,700;1,400&family=Poppins:wght@600&display=swap");
/* vars */
.font-size-sg-1 {
  font-size: calc(1.3rem + 0.215vw); }

.font-size-sg-2 {
  font-size: calc(1.1rem + 0.75vw); }

.font-size-sg-4 {
  font-size: calc(1rem + 1.2vw); }

.font-size-sg-6 {
  font-size: calc(0.9rem + 0.8vw); }

.font-size-sg-10 {
  font-size: calc(0.8rem + 0.9vw); }

.font-size-sg-11 {
  font-size: calc(0.6rem + 1.2vw); }

.font-size-sg-13 {
  font-size: calc(0.5rem + 1vw); }

.font-size-mg-2 {
  font-size: calc(1.2rem + 1.8vw); }

.font-size-mg-3 {
  font-size: calc(1.1rem + 2.3vw); }

.font-size-mg-6 {
  font-size: calc(0.8rem + 2.9vw); }

.font-size-mg-7 {
  font-size: calc(0.8rem + 1.5vw); }

.font-size-fg-1 {
  font-size: calc(1rem + 6vw); }

.font-size-fg-3 {
  font-size: calc(0.8rem + 3.1vw); }

.font-size-fg-5 {
  font-size: calc(0.65rem + 4.2vw); }

:root {
  scroll-behavior: smooth;
  --navHeight: calc(2.2rem + 1.3vw); }

/* reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw; }

body {
  font-family: "Lato", sans-serif; }

@keyframes shining-btn {
  0% {
    background-image: linear-gradient(45deg, transparent 0%, #ffffff5e, transparent 15%); }
  1% {
    background-image: linear-gradient(45deg, transparent 8%, #ffffff5e, transparent 30%); }
  2.25% {
    background-image: linear-gradient(45deg, transparent 18%, #ffffff5e, transparent 45%); }
  3.5% {
    background-image: linear-gradient(45deg, transparent 27%, #ffffff5e, transparent 60%); }
  4.75% {
    background-image: linear-gradient(45deg, transparent 36%, #ffffff5e, transparent 75%); }
  6% {
    background-image: linear-gradient(45deg, transparent 45%, #ffffff5e, transparent 90%); }
  7.25% {
    background-image: linear-gradient(45deg, transparent 54%, #ffffff5e, transparent 105%); }
  8.5% {
    background-image: linear-gradient(45deg, transparent 63%, #ffffff5e, transparent 125%); }
  9.75% {
    background-image: linear-gradient(45deg, transparent 70%, #ffffff5e, transparent 140%); }
  11% {
    background-image: linear-gradient(45deg, transparent 80%, #ffffff5e, transparent 155%); }
  12.25% {
    background-image: linear-gradient(45deg, transparent 90%, #ffffff5e, transparent 170%);
    color: #eeebeb; }
  100% {
    background-image: linear-gradient(45deg, transparent 90%, #ffffff5e, transparent 170%); } }

/*!
 * Bootstrap v5.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #287c81fa;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 40, 124, 129;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Lato", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff; }

*, *::before, *::after {
  box-sizing: border-box; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

h1, .h1, h2, .h2, h3, .h3, h5, .h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw); }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem; } }

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw); }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem; } }

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw); }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem; } }

h5, .h5 {
  font-size: 1.25rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }


ul {
  padding-left: 2rem; }


ul {
  margin-top: 0;
  margin-bottom: 1rem; }


ul ul {
  margin-bottom: 0; }

b {
  font-weight: bolder; }

small, .small {
  font-size: 0.875em; }

a {
  color: #287c81fa;
  text-decoration: underline; }
  a:hover {
    color: rgba(32, 98, 102, 0.984314); }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

pre {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em; }

img,
svg {
  vertical-align: middle; }

table {
  caption-side: bottom;
  border-collapse: collapse; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

thead,
tbody,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus:not(:focus-visible) {
  outline: 0; }

input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button {
  text-transform: none; }

[role="button"] {
  cursor: pointer; }

button,
[type="button"] {
  -webkit-appearance: button; }
  button:not(:disabled),
  [type="button"]:not(:disabled) {
    cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit; }
  @media (min-width: 1200px) {
    legend {
      font-size: 1.5rem; } }
  legend + * {
    clear: left; }

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0; }

::-webkit-inner-spin-button {
  height: auto; }

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::file-selector-button {
  font: inherit; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

iframe {
  border: 0; }

summary {
  display: list-item;
  cursor: pointer; }

[hidden] {
  display: none !important; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 1400px) {
  .container {
    max-width: 1320px; } }

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x)); }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y); }

.col-auto {
  flex: 0 0 auto;
  width: auto; }

.col-4 {
  flex: 0 0 auto;
  width: 33.33333%; }

.col-10 {
  flex: 0 0 auto;
  width: 83.33333%; }

.col-11 {
  flex: 0 0 auto;
  width: 91.66667%; }

.col-12 {
  flex: 0 0 auto;
  width: 100%; }

.g-3 {
  --bs-gutter-x: 1rem; }

.g-3 {
  --bs-gutter-y: 1rem; }

@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333%; } }

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66667%; }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%; }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%; }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333%; }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%; }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%; }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%; }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333%; }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%; }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333%; } }

@media (min-width: 1400px) {
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66667%; } }

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6; }
  .table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); }
  .table > tbody {
    vertical-align: inherit; }
  .table > thead {
    vertical-align: bottom; }
  .table > :not(:first-child) {
    border-top: 2px solid currentColor; }

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } }
  .form-control[type="file"] {
    overflow: hidden; }
    .form-control[type="file"]:not(:disabled):not([readonly]) {
      cursor: pointer; }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgba(150, 191, 193, 0.990196);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(40, 124, 129, 0.25); }
  .form-control::-webkit-date-and-time-value {
    height: 1.5em; }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:disabled {
    background-color: #e9ecef;
    opacity: 1; }
  .form-control::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .form-control::file-selector-button {
        transition: none; } }
  .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3; }
  .form-control::-webkit-file-upload-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .form-control::-webkit-file-upload-button {
        transition: none; } }
  .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3; }

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem; }
  .form-check .form-check-input {
    float: left;
    margin-left: -1.5em; }

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  color-adjust: exact; }
  .form-check-input[type="checkbox"] {
    border-radius: 0.25em; }
  .form-check-input:active {
    filter: brightness(90%); }
  .form-check-input:focus {
    border-color: rgba(150, 191, 193, 0.990196);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(40, 124, 129, 0.25); }
  .form-check-input:checked {
    background-color: #287c81fa;
    border-color: #287c81fa; }
    .form-check-input:checked[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e"); }
  .form-check-input[type="checkbox"]:indeterminate {
    background-color: #287c81fa;
    border-color: #287c81fa;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e"); }
  .form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5; }
   .form-check-input:disabled ~ .form-check-label {
    opacity: 0.5; }

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none; } }
  .btn:hover {
    color: #212529; }
   .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(40, 124, 129, 0.25); }
  .btn:disabled,
  fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }
  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none; } }
  .collapsing.collapse-horizontal {
    width: 0;
    height: auto;
    transition: width 0.35s ease; }
    @media (prefers-reduced-motion: reduce) {
      .collapsing.collapse-horizontal {
        transition: none; } }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .navbar > .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
      transition: none; } }
  .navbar-toggler:hover {
    text-decoration: none; }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem; }

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem; } }

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */; } }

@keyframes spinner-grow {
  0% {
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: none; } }

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentColor;
  opacity: 0.5; }
  .placeholder.btn::before {
    display: inline-block;
    content: ""; }

@keyframes placeholder-glow {
  50% {
    opacity: 0.2; } }

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0%; } }

.ratio {
  position: relative;
  width: 100%; }
  .ratio::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: ""; }
  .ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.ratio-16x9 {
  --bs-aspect-ratio: calc(9 / 16 * 100%); }

.d-flex {
  display: flex !important; }

.d-none {
  display: none !important; }

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.position-fixed {
  position: fixed !important; }

.top-0 {
  top: 0 !important; }

.end-0 {
  right: 0 !important; }

.border {
  border: 1px solid #dee2e6 !important; }

.border-0 {
  border: 0 !important; }

.border-primary {
  border-color: #287c81fa !important; }

.border-light {
  border-color: #f8f9fa !important; }

.border-dark {
  border-color: #212529 !important; }

.w-100 {
  width: 100% !important; }

.vw-100 {
  width: 100vw !important; }

.h-100 {
  height: 100% !important; }

.flex-column {
  flex-direction: column !important; }

.gap-1 {
  gap: 0.25rem !important; }

.gap-2 {
  gap: 0.5rem !important; }

.gap-3 {
  gap: 1rem !important; }

.gap-4 {
  gap: 1.5rem !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-center {
  align-items: center !important; }

.m-0 {
  margin: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.mt-2 {
  margin-top: 0.5rem !important; }

.mt-4 {
  margin-top: 1.5rem !important; }

.mb-3 {
  margin-bottom: 1rem !important; }

.mb-4 {
  margin-bottom: 1.5rem !important; }

.p-0 {
  padding: 0 !important; }

.p-3 {
  padding: 1rem !important; }

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important; }

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.pt-2 {
  padding-top: 0.5rem !important; }

.pt-3 {
  padding-top: 1rem !important; }

.pb-1 {
  padding-bottom: 0.25rem !important; }

.pb-3 {
  padding-bottom: 1rem !important; }

.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important; }

.fst-italic {
  font-style: italic !important; }

.fw-bold {
  font-weight: 700 !important; }

.text-center {
  text-align: center !important; }

.text-decoration-none {
  text-decoration: none !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-nowrap {
  white-space: nowrap !important; }

/* rtl:begin:remove */

/* rtl:end:remove */
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important; }

.text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important; }

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important; }

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; }

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important; }

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important; }

.bg-opacity-10 {
  --bs-bg-opacity: 0.1; }

.rounded-3 {
  border-radius: 0.3rem !important; }

.rounded-pill {
  border-radius: 50rem !important; }

@media (min-width: 576px) {
  .py-sm-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

@media (min-width: 768px) {
  .d-md-flex {
    display: flex !important; }
  .flex-md-row {
    flex-direction: row !important; }
  .flex-md-column {
    flex-direction: column !important; }
  .gap-md-4 {
    gap: 1.5rem !important; }
  .justify-content-md-evenly {
    justify-content: space-evenly !important; }
  .align-items-md-start {
    align-items: flex-start !important; }
  .align-items-md-center {
    align-items: center !important; }
  .align-self-md-start {
    align-self: flex-start !important; }
  .m-md-auto {
    margin: auto !important; }
  .ms-md-5 {
    margin-left: 3rem !important; } }

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important; }
  .d-lg-flex {
    display: flex !important; }
  .d-lg-none {
    display: none !important; }
  .flex-lg-row {
    flex-direction: row !important; }
  .gap-lg-3 {
    gap: 1rem !important; }
  .gap-lg-4 {
    gap: 1.5rem !important; }
  .justify-content-lg-between {
    justify-content: space-between !important; }
  .justify-content-lg-around {
    justify-content: space-around !important; }
  .align-items-lg-start {
    align-items: flex-start !important; }
  .align-items-lg-center {
    align-items: center !important; }
  .mt-lg-0 {
    margin-top: 0 !important; }
  .mt-lg-5 {
    margin-top: 3rem !important; }
  .mb-lg-0 {
    margin-bottom: 0 !important; }
  .ms-lg-3 {
    margin-left: 1rem !important; }
  .ms-lg-4 {
    margin-left: 1.5rem !important; }
  .px-lg-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
  .py-lg-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }
  .py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

@media (min-width: 1200px) {
  .d-xl-flex {
    display: flex !important; }
  .d-xl-none {
    display: none !important; }
  .flex-xl-row {
    flex-direction: row !important; }
  .align-items-xl-start {
    align-items: flex-start !important; }
  .p-xl-0 {
    padding: 0 !important; } }

@media (min-width: 1200px) {
  .fs-2 {
    font-size: 2rem !important; } }

section h3, section .h3 {
  color: #262729; }

section h1, section .h1, section h2, section .h2 {
  color: #262729;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 0;
  font-size: calc(0.8rem + 3.9vw); }

.section-spacing {
  gap: calc(1rem + 1vw);
  padding: calc(1.7rem + 2.5vw) 0; }

/* FOOTER */
footer {
  color: #7a7a7a;
  font-size: calc(0.5rem + 1vw); }

.divider_1 {
  height: 2px;
  margin-top: -0.8em;
  width: calc(2.1rem + 5vw);
  margin-bottom: 0.5rem; }
  .divider_1 line {
    stroke: #287c81fa;
    stroke-width: 4px; }

/* pages */
.header-titles {
  font-family: "Old Standard TT", serif;
  font-weight: 100;
  color: white;
  font-size: calc(1.7rem + 2vw);
  width: min-content;
  margin: 0; }

.about-bg-img {
  background-image: url(../img/cards-background.webp);
  background-size: 205%;
  background-color: #fffffff0;
  background-blend-mode: lighten; }

/* banner */
.pages-background {
  grid-area: banner;
  background-image: url(../img/pages-banner.png);
  background-size: cover;
  background-position: 76% 100%;
  background-position: calc(73% - 12vw) 100%;
  filter: drop-shadow(1px 3px 1px black); }

.about-banner {
  background: linear-gradient(90deg, #000000 23%, #000000d1 44%, #13002047 100%), linear-gradient(90deg, #000000 0%, #000000d1 2%, #13002047 100%); }

.error-page section {
  height: calc(100vh - (1.7rem + 1vw));
  padding-top: calc(10rem - 4vw); }

.error-page p {
  font-weight: 800; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh repeat(4, auto);
  grid-template-areas: "hero" "welcome" "best-routines" "single-payment"; }

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh repeat(4, auto);
  grid-template-areas: "banner" "quick-info" "about" "goals"; }

.faqs-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh repeat(3, auto);
  grid-template-areas: "banner" "faqs" "guarantee"; }

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh repeat(3, auto);
  grid-template-areas: "banner" "quote" "reviews"; }

.buy-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh repeat(3, auto);
  grid-template-areas: "banner" "summary" "buy-forms"; }

@media screen and (min-width: 1024px) {
  section h1, section .h1, section h2, section .h2 {
    font-size: calc(1rem + 2.5vw); } }

@media screen and (min-width: 1200px) {
  .header-titles {
    padding: unset; }
  .pages-background {
    background-image: url(../img/pages-banner.png);
    background-size: cover;
    background-position: right top;
    filter: drop-shadow(1px 3px 1px black); }
    .pages-background .hero-banner {
      height: 55vh; }
  .about-grid {
    grid-template-rows: 55vh repeat(3, auto); }
  .faqs-grid, .testimonials-grid, .buy-grid {
    grid-template-rows: 55vh repeat(2, auto); } }

header {
  background-color: #060606f7;
  font-family: "Lato", sans-serif;
  height: var(--navHeight);
  z-index: 999;
  transition: top 0.8s; }
  header .logo {
    height: calc(1.22rem + 0.8vw);
    padding: 0 1.25rem; }
  header nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background: #060606f7;
    flex-direction: column; }
  header ul {
    list-style: none;
    gap: 0.8em;
    padding: 0; }
  header a {
    text-decoration: none;
    color: #eeebeb;
    font-size: calc(1.2rem + 0.35vw);
    font-weight: 100;
    transition: 250ms ease-in-out; }
    header a:hover {
      color: rgba(150, 191, 193, 0.990196); }
  header button {
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    min-width: fit-content;
    border: none; }

.nav-toggle-label {
  position: absolute;
  top: 50%;
  right: 5%;
  color: #eeebeb;
  margin: -2px; }
  .nav-toggle-label:focus {
    box-shadow: none; }
  .nav-toggle-label span, .nav-toggle-label span:before, .nav-toggle-label span:after {
    display: block;
    background-color: #eeebeb;
    height: 2px;
    width: 1.8em;
    border-radius: 2px;
    position: relative; }
    .nav-toggle-label span:before, .nav-toggle-label span:after {
      content: '';
      position: absolute;
      top: 7px; }
    .nav-toggle-label span:after {
      top: -7px; }

@media screen and (min-width: 390px) {
  nav button {
    font-size: 1rem; } }

@media screen and (min-width: 712px) {
  nav li a {
    line-height: 1.3; }
  nav button {
    font-size: 1.4rem; } }

@media screen and (min-width: 820px) {
  nav ul {
    gap: 0.9em; } }

@media screen and (min-width: 992px) {
  header .navbar-collapse {
    flex-basis: auto !important;
    flex-grow: 0 !important;
    align-items: inherit; }
  header nav {
    all: unset; }
    header nav a {
      transition: all 0.3s ease 0s;
      font-weight: 400;
      font-size: calc(1rem + 0.2vw); }
      header nav a:hover {
        color: #98c4c7; }
    header nav .enroll-btn:hover {
      color: unset; }
    header nav ul {
      all: unset;
      width: 100%; }
    header nav li {
      list-style: none; }
    header nav button {
      all: unset;
      min-width: fit-cntent;
      flex-wrap: nowrap; }
    header nav li .enroll-btn {
      margin: unset;
      text-transform: uppercase;
      font-weight: 600;
      font-size: calc(0.65rem + 0.4vw);
      border-radius: 50px;
      padding: 0.2rem 0.7rem;
      border: 2px solid #98c4c7;
      transition: background-color 0.5s, color 0.5s;
      white-space: nowrap; }
      header nav li .enroll-btn:hover {
        background-color: #98c4c7;
        color: #0c0c0c;
        font-weight: 700; } }

@media screen and (min-width: 992px) {
  header {
    padding: 0 3rem 0 2rem; } }

.hero-banner {
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.953286) 24%, rgba(0, 212, 255, 0) 100%);
  height: 100vh;
  padding-top: 4rem; }

.hero-background {
  grid-area: hero;
  background-image: url(../img/hero-banner.webp);
  background-size: cover;
  background-position: 80%;
  min-height: 100vh; }

.amaze-title {
  font-family: "Old Standard TT", serif;
  font-weight: 100;
  width: min-content;
  font-size: calc(1.2rem + 7vw); }

#start-link {
  width: min-content;
  gap: 1em;
  border: none;
  cursor: pointer; }

#start-link-to-video {
  display: none; }

.start-btn {
  color: rgba(255, 255, 255, 0.822);
  animation-name: shining-btn;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3.8s;
  animation-delay: 0s;
  font-size: calc(0.75rem + 1vw); }

@media screen and (min-width: 360px) {
  .hero-background .hero-banner {
    padding-top: 4em; } }

@media screen and (min-width: 820px) {
  #start-link {
    gap: 1.4em; } }

@media screen and (min-width: 992px) {
  .hero-banner {
    padding-left: 8rem; } }

@media screen and (min-width: 1024px) {
  .hero-banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
  .amaze-title {
    position: unset;
    width: min-content; }
  #start-link {
    position: unset;
    width: min-content; } }

@media screen and (min-width: 1200px) {
  .hero-background .hero-banner {
    padding-top: 0; }
  #start-link-to-video {
    width: min-content;
    gap: 1em;
    cursor: pointer; } }

/* WELCOME SECTION */
.welcome-section {
  grid-area: welcome;
  background-image: linear-gradient(80deg, #d4d4de 0%, #d9d9e187 100%); }
  .welcome-section p {
    text-align: justify;
    line-height: calc(1.8rem + 1.8vw); }

/* eye divider */
.rule {
  height: 8px; }
  .rule line {
    stroke: #287c81fa;
    stroke-width: 2px; }

/* BEST-ROUTINES */
.best-routines-section {
  grid-area: best-routines;
  overflow: hidden; }
  .best-routines-section img {
    box-shadow: 0px 1px calc(3px + 0.85vw) 0px black; }

/* single payment section */
.single-payment-section {
  grid-area: single-payment;
  background-image: url(../img/girl-amazed1.webp);
  background-size: 135%;
  background-position: -250%;
  overflow: hidden; }

.sp-card-bg {
  background: linear-gradient(294deg, #377476e0 0%, #337172e0 46%, #316466d1 100%); }

.offer-band-box {
  height: calc(30% + 12vw);
  width: 40%;
  overflow: hidden;
  z-index: 888; }

.offer-band {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  width: 130%;
  background-image: linear-gradient(359deg, black 23%, #b3b3b354 55%, #ff040400), linear-gradient(180deg, black 100%, #6c5d5d9c 100%, #ff000000);
  transform: rotate(45deg);
  position: absolute;
  top: calc(6% + 3.2VW);
  left: 7%; }

.sp-card {
  background-color: #4d4d4d; }
  .sp-card h2, .sp-card .h2 {
    color: #eeebeb; }
  .sp-card .sp-card-body {
    background-color: #eeebeb;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #555555; }
    .sp-card .sp-card-body a {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      border: none;
      background-color: #555555da;
      transition: all 0.3s;
      font-size: calc(0.2rem + 2vw); }
      .sp-card .sp-card-body a:hover {
        background-color: black; }
    .sp-card .sp-card-body .price small, .sp-card .sp-card-body .price .small {
      font-size: calc(0.75rem + 5.2vw); }
    .sp-card .sp-card-body p, .sp-card .sp-card-body .fa-check-circle {
      font-size: calc(0.5rem + 2.3vw);
      margin-bottom: 0; }

@media screen and (min-width: 390px) {
  .offer-band {
    left: calc(5% + 3.5vw); } }

@media screen and (min-width: 992px) {
  .offer-band {
    left: calc(7% + 3.5vw); } }

@media screen and (min-width: 1200px) {
  .eye-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 90%; }
  .best-routines-section h2, .best-routines-section .h2 {
    line-height: 1.3; } }

.about-grid .about-banner {
  padding-top: 7rem; }

.about-start-btn {
  color: #eeebeb;
  padding: 0.5rem;
  width: calc(5rem + 8.9vw); }

#about-start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  gap: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  #about-start a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.4em; }
  #about-start .fa-angle-down {
    color: #eeebeb; }

/* quick info */
.quick-info {
  grid-area: quick-info;
  background: linear-gradient(45deg, #31758f, #23434fc7);
  gap: 2.8rem; }
  .quick-info .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    width: 80%;
    width: min-content;
    gap: 1em; }
    .quick-info .info-card img {
      border-radius: 15px;
      height: 100%;
      box-shadow: 0px 0px 3px 2px #2a5a6c; }
    .quick-info .info-card .info-card-img {
      width: calc(10.8rem + 11vw); }
    .quick-info .info-card h3, .quick-info .info-card .h3 {
      color: #eeebeb;
      font-family: "Lato", sans-serif;
      font-style: initial;
      text-transform: uppercase;
      font-weight: 500; }
    .quick-info .info-card p {
      line-height: 1.4;
      color: #d5e7ec;
      text-align: justify; }
    .quick-info .info-card .info-card-text {
      padding: 0;
      min-width: 51%; }

/* about video section */
.about-video {
  background-image: linear-gradient(80deg, #d4d4deb8 0%, #d9d9e15c 100%);
  grid-area: about; }

/* course goals section*/
.course-goals {
  grid-area: goals;
  background-size: cover;
  overflow: hidden; }
  .course-goals .goals-cards-container {
    filter: drop-shadow(0px 0px 1px #59636a); }
    .course-goals .goals-cards-container .goals-card {
      height: calc(18vh + 19vw + 6.5rem);
      background-color: #f5f7f8; }
      .course-goals .goals-cards-container .goals-card .goals-img-container {
        position: relative;
        width: 100%;
        height: 100%; }
        .course-goals .goals-cards-container .goals-card .goals-img-container .goals-img {
          position: absolute;
          top: 0;
          left: 0;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%; }
        .course-goals .goals-cards-container .goals-card .goals-img-container .goals-img-1 {
          background-image: url(../img/alan-400x220.webp); }
        .course-goals .goals-cards-container .goals-card .goals-img-container .goals-img-2 {
          background-image: url(../img/guadi-400x220.png); }
        .course-goals .goals-cards-container .goals-card .goals-img-container .goals-img-3 {
          background-image: url(../img/maxi-deck-on-hands.png); }
        .course-goals .goals-cards-container .goals-card .goals-img-container .goals-img-fx {
          background: linear-gradient(180deg, rgba(252, 252, 252, 0), #f6f8f9);
          position: absolute;
          top: 1px;
          left: 0;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%; }
      .course-goals .goals-cards-container .goals-card .goals-text {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        gap: 0.3em;
        padding: 0.3em 0.3em; }
        .course-goals .goals-cards-container .goals-card .goals-text h3, .course-goals .goals-cards-container .goals-card .goals-text .h3 {
          font-family: "Old Standard TT", serif;
          font-size: calc(0.8rem + 2.9vw);
          margin: 0;
          font-style: italic;
          font-weight: 100;
          text-transform: uppercase; }
        .course-goals .goals-cards-container .goals-card .goals-text p {
          font-size: calc(0.5rem + 2.8vw);
          line-height: 1.3;
          color: #686868;
          margin-bottom: 0.5em; }
      .course-goals .goals-cards-container .goals-card .goals-card-fx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #ffffff00 60%, #0000002b); }

@media screen and (min-width: 360px) {
  .quick-info {
    gap: 1.6em; } }

@media screen and (min-width: 712px) {
  .course-goals .goals-cards-container .goals-card {
    height: calc(29rem + 5vh - 8vw); }
    .course-goals .goals-cards-container .goals-card .goals-text {
      padding: 0.3em 2em; } }

@media screen and (min-width: 768px) {
  .info-card .info-card-text {
    padding: 0 calc(7.9vw - 2.9rem); } }

@media screen and (min-width: 820px) {
  .quick-info {
    gap: 3.6em; } }

@media screen and (min-width: 992px) {
  .quick-info {
    display: flex;
    justify-content: space-evenly;
    align-items: normal; }
    .quick-info .info-card {
      height: 100%;
      justify-content: center; }
      .quick-info .info-card p {
        line-height: 1.3; }
  .course-goals .goals-cards-container .goals-card {
    width: calc(100% / 3); }
    .course-goals .goals-cards-container .goals-card .goals-img-container .goals-img {
      background-position: center; }
    .course-goals .goals-cards-container .goals-card .goals-text {
      height: calc(34rem - 16vw); }
      .course-goals .goals-cards-container .goals-card .goals-text h3, .course-goals .goals-cards-container .goals-card .goals-text .h3 {
        font-size: calc(0.85rem + 1vw); }
      .course-goals .goals-cards-container .goals-card .goals-text p {
        font-size: calc(1rem + 0.55vw); } }

@media screen and (min-width: 1200px) {
  .quick-info {
    border-top: 2em solid #2a023447; }
    .quick-info .info-card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 40%; }
  .about-grid .hero-banner {
    padding-left: 0; }
  .course-goals h2, .course-goals .h2 {
    font-size: calc(1rem + 2.4vw);
    align-self: flex-start;
    margin-left: 3rem; }
  .course-goals .divider_1 {
    align-self: flex-start;
    margin-left: 4rem; } }

/* faqs section */
.faqs {
  grid-area: faqs;
  border-top: 2em solid #2a023447;
  background: linear-gradient(45deg, #31758f, #23434fc7), linear-gradient(45deg, #256c8747, #2e5f7042); }
  .faqs .question-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em; }
  .faqs .fa-question-circle {
    color: #cadeef; }
  .faqs .rule {
    height: 4px;
    width: 50%; }
    .faqs .rule line {
      stroke: #8eafcb;
      stroke-width: 2px; }
  .faqs .fa-chevron-up {
    color: white;
    font-weight: 100;
    vertical-align: baseline; }
  .faqs h2, .faqs .h2 {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: calc(0.759rem + 1.5vw);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
    text-align: initial; }
  .faqs p {
    color: #ffffffe6;
    line-height: 1.5;
    align-self: center;
    text-align: justify;
    width: 90%;
    font-size: calc(0.5rem + 1.8vw);
    margin-top: 1rem;
    margin-bottom: 0; }

.fa-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0; }
  .fa-ul label {
    display: flex; }

.faqs-divider {
  height: 4px;
  margin: calc(1rem + 1vw) 0 calc(1rem + 1vw); }
  .faqs-divider line {
    stroke: #8eafcb;
    stroke-width: 2px; }

.fa-ul > li {
  position: relative;
  margin-left: calc(1rem + 2.3vw);
  transform: translate(-8px, 0); }

.fa-li {
  transition: 0.2s ease-out;
  left: calc(-1.4rem - 1.9vw); }

input:checked + li label .fa-li {
  transform: rotate(180deg); }

/* guarantee section */
.guarantee {
  grid-area: guarantee;
  background-image: url(../img/cardsbackground2.png);
  background-color: #fdff2054;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.cardsbackground {
  filter: drop-shadow(2px 4px 6px black);
  background: linear-gradient(90deg, #bdd1d81c, #34738b17);
  width: 100%; }

.guarantee-card {
  border-radius: 1.5rem;
  background: linear-gradient(90deg, #000000b3, #00000094);
  color: #96b6d1; }
  .guarantee-card h2, .guarantee-card .h2 {
    font-size: calc(1.1rem + 2.3vw);
    color: #96b6d1;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-shadow: 0px 4px 2px #396e8361; }
  .guarantee-card p {
    font-size: calc(0.8rem + 1.1vw);
    text-align: justify;
    line-height: 1.5; }
  .guarantee-card img {
    filter: drop-shadow(2px 4px 6px black); }

@media screen and (min-width: 360px) {
  .fa-ul > li {
    transform: none; } }

@media screen and (min-width: 1200px) {
  .fa-ul label {
    align-items: center; } }

.testimonials-bg {
  background-image: url(../img/alan-amazed.webp);
  background-position-y: 93%; }

/* quote section */
.quote {
  grid-area: quote;
  padding: calc(2.7rem + 2.5vw) 0;
  overflow: hidden; }
  .quote h3, .quote .h3 {
    color: #3d7186;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 0; }
  .quote h2, .quote .h2 {
    all: unset;
    font-weight: 700;
    line-height: 1.3; }

.divider_3 {
  height: 6px;
  width: 6em;
  display: flex; }
  .divider_3 line {
    stroke: #3e7186;
    stroke-width: 2px; }

.quotedivider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em; }
  .quotedivider .rule {
    height: 6px;
    width: 30%; }
    .quotedivider .rule line {
      stroke: #287c81fa;
      stroke-width: 2px; }

.fa-quote-left {
  color: #355f70; }

/* reviews section */
.reviews {
  gap: 2em;
  background: linear-gradient(45deg, #31758f, #23434fc7);
  padding: 2em 0; }
  .reviews h2, .reviews .h2 {
    color: #fffffffa;
    font-style: italic; }

.facebook-reviews-img {
  width: 95%;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 2px #203c46);
  display: none; }

.facebook-reviews-img-mobile {
  width: 95%; }

@media screen and (min-width: 360px) {
  .testimonials-bg {
    background-position-y: 95%; } }

@media screen and (min-width: 712px) {
  .divider_3 line {
    stroke-width: 3px; }
  .quotedivider {
    gap: 2em; }
    .quotedivider .rule {
      height: 6px; }
      .quotedivider .rule line {
        stroke-width: 3px; }
  /* reviews section */
  .testimonials-bg {
    background-size: 185%;
    background-position-y: 107%;
    background-position-x: 62%; }
  .facebook-reviews-img-mobile {
    width: 75%; } }

@media screen and (min-width: 992px) {
  .reviews {
    padding: 3em 0; }
  .facebook-reviews-img {
    display: unset;
    width: 85%; }
  .facebook-reviews-img-mobile {
    display: none; }
  .testimonials-bg {
    background-size: 100%;
    background-position-y: 82%; } }

.summary-card-section {
  overflow: hidden; }

.summary-card {
  gap: 1em;
  width: 90%;
  padding: 1em;
  background-color: #fffffffd;
  filter: drop-shadow(0px 1px 1px black); }

.summary-text h2, .summary-text .h2 {
  font-size: calc(1rem + 1.3vw);
  color: #2f2f2f; }

.buy-forms-section button {
  background: #151515;
  width: calc(3.9rem + 0.9vw); }
  .buy-forms-section button:hover {
    background-color: black; }

.buy-forms-section input:not([type="checkbox"]) {
  border: 1px solid lightgray;
  font-size: calc(0.9rem + 0.5vw);
  font-family: helvetica;
  height: calc(2.3rem + 0.5vw); }

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.18rem #e8e9e9; }

fieldset label, .col-form-label {
  font-size: calc(0.9rem + 0.5vw); }

.form-control:focus {
  box-shadow: 0 0 0 0.18rem #e8e9e9; }

.form-check-input:focus {
  border-color: #7f7f7f;
  box-shadow: 0 0 0 0.1rem #bebebe; }
