// Navbar

header {
    background-color: $darkTransparentBg;
    font-family: $sansSerifFont;
    height: var(--navHeight);
    z-index: 999;
    transition: top 0.8s;

    .logo {
        height: calc(1.22rem + 0.8vw);
        padding: 0 1.25rem;
    }

    nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background: $darkTransparentBg;
    flex-direction: column;

    }

    ul {
        list-style: none;
        gap: 0.8em;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: $whiteText;
        font-size: calc(1.2rem + 0.35vw);
        font-weight: 100;
        transition: 250ms ease-in-out;
        &:hover {
            color: mix($primary, white, 50%);
        }
    }
    button {
        background: transparent;
        text-transform: uppercase;
        font-weight: bold;
        min-width: fit-content;
        border: none;
    }
}


.nav-toggle-label {   
    position: absolute;
    top: 50%;
    right: 5%;
    color: $whiteText;
    margin: -2px;

    &:focus {
        box-shadow: none;
    }

    span {
        display: block;
        background-color: $whiteText;
        height: 2px;
        width: 1.8em;
        border-radius: 2px;
        position: relative;

        &:before {
            @extend span;
            content: '';
            position: absolute;
            top: 7px;
        }

        &:after {
            @extend :before;
            top: -7px;
        }
    }
}

@media  screen and (min-width: $iphone12) {
    nav {
        button {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: $ipadMini) {
    nav {
        li {
            a {
                line-height: 1.3;
            }
        }
        button {
            font-size: 1.4rem;
        }
    }

}

@media screen and (min-width: $ipadAir) {
    nav {
        ul {
            gap: 0.9em;
        }
    }

}

@media screen and (min-width: $bootstrap-lg) {

    header {

        .navbar-collapse {
            flex-basis: auto!important;
            flex-grow: 0!important;
            align-items: inherit;
        }

        nav {
            all: unset;
            a {
                transition: all 0.3s ease 0s;
                font-weight: 400;
                font-size: calc(1rem + 0.2vw);
                &:hover {
                    color: $lighterPrimary;
                }
            }
            .enroll-btn:hover {
                color:unset;
            }
            ul {
                all: unset;
                width: 100%;
            }

            li {
                list-style: none;
            }
            button {
                all: unset;
                min-width: fit-cntent;
                flex-wrap: nowrap;
            }

            li {
                .enroll-btn {
                    margin: unset;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: calc(0.65rem + 0.4vw);
                    border-radius: 50px;
                    padding: 0.2rem 0.7rem;
                    border: 2px solid $lighterPrimary;
                    transition: background-color 0.5s, color 0.5s;
                    white-space: nowrap;
                    &:hover {
                        background-color: $lighterPrimary;
                        color: #0c0c0c;
                        font-weight: 700;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: $bootstrap-lg) {
    header {
        padding: 0 3rem 0 2rem;
    }
}

// Hero Banner

.hero-banner {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9532855378479517) 24%, rgba(0,212,255,0) 100%);
    height: 100vh;
    padding-top: 4rem;
}

.hero-background {
    grid-area: hero;
    background-image: url(../img/hero-banner.webp);
    background-size: cover;
    background-position: 80%;
    min-height: 100vh;
}

.amaze-title {
    font-family: $titlesFont;
    font-weight: 100;
    width: min-content;
    font-size: calc(1.2rem + 7vw);
}

#start-link {
    width: min-content; 
    gap: 1em; 
    border: none;
    cursor: pointer;
}

#start-link-to-video {
    display: none;
}

.start-btn {
    color: rgba(255, 255, 255, 0.822);
    animation-name: shining-btn;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 3.8s;
    animation-delay: 0s;
    font-size: calc(0.75rem + 1vw);
}

@media screen and (min-width: $galaxys8) {
    .hero-background {

        .hero-banner {
            padding-top: 4em;
        }
    } 
}

@media screen and (min-width: $ipadAir ) {

    #start-link {
        gap: 1.4em;
    }
       
}

@media screen and (min-width: $bootstrap-lg) {
    .hero-banner {
        padding-left: 8rem;
    }
    
}

@media screen and (min-width: $ipadMiniLandscape) {
    .hero-banner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .amaze-title {
        position: unset;
        width: min-content;
    }

    #start-link {
        position: unset;
        width: min-content;
    }
}

@media screen and (min-width: $bootstrap-xl) {
    
    .hero-background {
        .hero-banner {
            padding-top: 0;
        }
    }
    
    #start-link-to-video {
        width: min-content;
        gap: 1em;
        cursor: pointer;
    } 
}

// sections

section {
    h3 {
        color: $blackText;
    }
    h1, h2 {
        color: $blackText; 
        text-align: center;
        font-family: $titlesFont;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 0;
        font-size: calc(0.8rem + 3.9vw);
        
    }
}

.section-spacing {
    gap: calc(1rem + 1vw);
    padding: calc(1.7rem + 2.5vw) 0;
}

/* FOOTER */
footer {
    color: #7a7a7a;
    font-size: calc(0.5rem + 1vw);
}

.divider_1 {
    height: 2px;
    margin-top: -0.8em;
    width: calc(2.1rem + 5vw);
    margin-bottom: 0.5rem;
    line {
        stroke: $primary;
        stroke-width: 4px;
    }
}



/* pages */
.header-titles {
    font-family: $titlesFont;
    font-weight: 100;
    color: white;
    font-size: calc(1.7rem + 2vw);
    width: min-content;
    margin: 0;
}

.about-bg-img {
    background-image: url(../img/cards-background.webp);
    background-size: 205%;
    background-color: #fffffff0;
    background-blend-mode: lighten;
}

/* banner */
.pages-background {
    grid-area: banner;
    background-image: url(../img/pages-banner.webp);
    background-size: cover;
    background-position: 76% 100%;
    background-position: calc(73% - 12vw) 100%;
    filter: drop-shadow(1px 3px 1px black);
}

.about-banner {
    background: linear-gradient(90deg, #000000 23%, #000000d1 44%, #13002047 100%), linear-gradient(90deg, #000000 0%, #000000d1 2%, #13002047 100%);
    
}

.error-page {
    section {
        height: calc(100vh - (1.7rem + 1vw));
        padding-top: calc(10rem - 4vw);
    }
    p {
        font-weight: 800;
    }

}

.grid {
    @include gridSections (4);
    grid-template-areas: "hero" "welcome" "best-routines" "single-payment";
}

.about-grid {
    @include gridSections (4);
    grid-template-areas:
        "banner"
        "quick-info"
        "about"
        "goals";
}

.faqs-grid {
    @include gridSections (3);
    grid-template-areas: "banner" "faqs" "guarantee";
}

.testimonials-grid {
    @include gridSections (3);
    grid-template-areas: "banner" "quote" "reviews";
}

.buy-grid {
    @include gridSections (3);
    grid-template-areas: "banner" "summary" "buy-forms";
}


@media screen and (min-width: $ipadMiniLandscape) {
    section {
        h1, h2 {
            font-size: calc(1rem + 2.5vw);
        }
    } 
    
}

@media screen and (min-width: $bootstrap-xl) {
    .header-titles {
        padding: unset;
    }

    .pages-background {
        background-image: url(../img/pages-banner.webp);
        background-size: cover;
        background-position: right top;
        filter: drop-shadow(1px 3px 1px black);
        .hero-banner {
            height: 55vh;
        }
    } 
    
    .about-grid {
        grid-template-rows: 55vh repeat(3, auto);

    } 

    .faqs-grid, .testimonials-grid, .buy-grid {
        grid-template-rows: 55vh repeat(2, auto);
    }

}